body {
    font-family: 'Arial', sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #f5f5f5;
    position: relative;
}

.background-container {
    background-image: url('../image/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/bg2.jpg');
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

h1 {
    color: #414141;
    text-align: center;
    margin: 0;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin: 15px 0;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #414141;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: #414141;
}

.image-container {
    text-align: center;
    background-color: rgb(255, 241, 220);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; 
    border: 2px solid #333;
    transition: transform 0.3s ease-in-out; 
}


.image-container img:hover {
    transform: scale(1.1); 
}

header {
    background-color: rgb(255, 241, 220);
    color: white;
    padding: 10px;
    text-align: center;
}

h6 {
    text-align: center;
    text-emphasis-color: #414141;
}

h2 {
    color: #414141;
}

p {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #414141;
    text-align: left;
}

.image-container img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #333;
}

nav h6 a {
    color: #414141; 
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out; 
}

nav h6 a:hover {
    color: #ff8c00; 
    text-decoration: underline; 
}


.center-text {
    text-align: center;
}

.project-container {
    max-width: 80%;
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-weight: bold;
    font-size: 20px;
    color: #414141;
}

.project-description {
    margin: 10px 0;
}

.project-date {
    font-style: italic;
    margin: 10px 0;
}

.project-image {
    max-width: 100%;
}

.buttons {
    margin-top: 10px;
}

.section {
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    border-bottom: 2px solid #414141;
    padding-bottom: 5px;
    color: #414141;
}

.section p {
    margin: 10px 0;
}

.contact-info p {
    font-weight: bold;
    color: #333;
}

footer {
    background-color: rgb(90, 90, 90);
    color: white;
    padding: 10px;
    text-align: center;
}

